@media(max-width:992px){
    nav .row{
        flex-direction: column;
        align-items: center;
        align-content: center;
    } 
    nav .iconss{
        padding-top: 0%;
    }

    .collection {
        height: 35vh !important;
    }
    .collection .caption1 h2{
        font-size: 14px;
    }
    .collection .caption1 h3{
        font-size: 14px;
        line-height: 17px;
    }
    .collection .caption1 p{
        font-size: 12px;
    }

    .collection .caption2{
        bottom: -3%;
        left: 35%;
    }
    .collection .caption2 h2{
        font-size: 14px;
    }
    .collection .caption2 h3{
        font-size: 14px;
        line-height: 10px;
    }
    .collection .caption2 p{
        font-size:9px;
        line-height: 20px;
    }
    .collection .caption1 button{
        font-size: 10px;
        height: 30px;
        line-height: 0px;

    }
    .collection .caption2 button{
        font-size: 10px;
        height: 30px;
        line-height: 0px;
    }
    .collection .caption3 button{
        font-size: 10px;
        height: 30px;
        line-height: 0px;

    }

    .collection .caption3 h3{
        font-size: 20px;
        line-height: 25px;
    }
    .collection .carousel-control-prev {
        top: 50%;
    }

    .collection .carousel-control-next {
        top: 50%;
    }

    

    .Accessory .icons {
        bottom: 37% !important ;
        left: 17%   !important ;
    }

    .Accessory .details h3{
        font-size: 12px;    
    }

    .baby-fashion{
        height: 35vh !important;
    }

    .baby-fashion .contants h2 {
        font-size: 14px;
    }
    .baby-fashion .contants h3{
        font-size: 40px;
    }
    .baby-fashion .contants h4 {
        font-size: 30px;
    }

    .baby-fashion .contants button {
        margin-top: 10px !important;
    }

    .icons{
        left: 32% !important;
        bottom:25% !important ;
    }

    .Categories-Deals .about-Categories-Deals2 h3 {
        font-size: 17px !important;
    }

    .comments img{
        height: 40vh;
    }

    .comments .col-md-6{
        width: 100%;
    }
    .comments .col-md-5{
        width: 100% !important;
    }

    .comments .comment h3{
        width: 100%;
    }
    .comments .comment p {
        width: 100% !important  ;
    }


    .Categories-Deals .col-md-3{
        width: 50%;
    }

    .Categories-Deals p {
        margin-bottom: 10px;
    }

    .salling-details .sales p{
        font-size: 10px !important;
    }

    .salling-details .everyday-saving h2{
        font-size: 11px !important;
    }

    .salling-details .Half-price-Sale h2{
        font-size: 15px !important;
    }

    .salling-details .back-15 h2{
        font-size: 12px !important;
    }

    .Newsletter .d-flex{
        flex-wrap: wrap;
    }

    .Newsletter h2{
        text-align: center;
        margin-right: 50px !important;
    }

    .footerbg {
        height: 2.5vh !important;
    }
    footer .col-md-3{
        width: 50% !important;
        margin-bottom: 25px !important;
    }

    footer .comunication{
        margin-top: -50px;
    }

    /*contact page*/

    .contact{
        background-size: contain !important;
        height: 21vh !important;
        background-position-y:64% !important ;
    }

    .det{
        padding-left: 1rem!important;
    }
    .iconANDdet .det h3{
        font-size: 14px !important;
        padding-bottom: 0px !important;
    }
    .iconANDdet .det h4 {
        font-size: 12px !important;
    }
    .iconANDdet .det a {
        font-size: 10px;
    }

    .contact .Tcontact {
        padding-top: 4.5rem !important;
    }

    .contactForm button {
        width: 200px !important;
    }



}

@media(max-width:576px){
    .collection img{
        width: 50%;
    }
    .collection .caption1{
        top: 19%;
        right: 10%;
    }
    .collection .caption1 h2{
        font-size: 9px;
        line-height: 8px;
    }
    .collection .caption1 h3{
        font-size: 8px;
        line-height: 15px;
    }
    .collection .caption1 p{
        font-size: 7px;
        line-height: 10px;
    }
    .collection .caption1 button{
        font-size:10px ;
        height: 20px;
        line-height: 0;
    }


    .collection .caption2{
        width: 35%;
    }
    .collection .caption2 h2{
        font-size: 7px;
        line-height: 0px;
    }
    .collection .caption2 h3{
        font-size: 5px;
        line-height: 3px;
    }
    .collection .caption2 p{
        font-size: 5px;
        width: 90%;
        line-height: 7px;
        margin-bottom: 4px;
    }
    .collection .caption2 button{
        font-size:5px ;
        height: 10px;
        line-height: 0px;
        padding-inline: 20px !important;
        padding-block: 10px !important;
        margin-bottom: 7px;
    }

    .collection .caption3{
        left: 23%;
        top: 15%;
    }

    .collection .caption3 h2{
        font-size: 10px;
    }
    .collection .caption3 h3{
        font-size: 12px;
        line-height: 13px;
    }
    .collection .caption3 p{
        font-size: 9px;
        line-height: 10px;
    }
    .collection .caption3 button{
        font-size:5px ;
        height: 10px;
        line-height: 0px;
        padding-inline: 20px !important;
        padding-block: 10px !important;
        margin-bottom: 7px;
    }

    .collection .carousel-control-prev {
        top: 62%;
        width: 30px;
        height: 30px;
    }

    .collection .carousel-control-next{
        top: 62%;
        width: 30px;
        height: 30px;
    }

    .baby-fashion{
        height: 22vh !important;
    }

    .baby-fashion .contants{
        top: 28%;
        right: 10%;
    }

    .baby-fashion .contants h2{
        font-size: 8px;
        letter-spacing: 0px;
        line-height: 0px;
    }
    .baby-fashion .contants h3{
        font-size: 16px;
        letter-spacing: 2px;
        line-height: 12px ;
    }
    .baby-fashion .contants h4{
        font-size: 14px;
        letter-spacing: 0px;
        margin-top: 5px !important;
    }
    .baby-fashion .contants button{
        font-size: 10px;
        margin-top: -25px !important;
        height: 20px;
        line-height: 0px;
        
    }

    .Accessory .icons {
        bottom: 30% !important;
        left: 25% !important;
    }

    .icons{
        left: 18% !important;
        bottom:35% !important ;
    }

    .Categories-Deals .col-md-3 {
        width: 100% ;
    }

    .Categories-Deals p {
        margin-bottom: 13px;
    }

    .Categories-Deals .about-Categories-Deals2 h3 {
        margin-top: 10px;
    }


    .comments img {
        width: 100% !important;
        height: 50% !important;
    }

    .comments .comment h3{
        width: 100% !important;
        font-size: 15px !important;
    }

    .comments .comment p {
        font-size: 12px !important;
    }
    .comments .comment-by h4 {
        font-size: 12px !important;
    }
    .comments .comment-by i {
        width: 12px !important;
        height: 12px !important;
        line-height: 10px !important;
        font-size: 9px !important;
    }
    .comments .d-flex{
        display: inline !important;
    }
    .comments  .d-flex{
        display: inline !important;
    }

    .comments .comment-by.d-flex {
        display: flex !important;
    }

    .Newsletter h2 {
        padding-left: 10px !important;
    }

    .Newsletter p{
        width: 100% ;
        font-size: 10px !important;
    }

    nav .email-address {
        width: 270px !important;
        height: 45px !important;
        margin-bottom: 10px ;
    }

    nav .btn-submit{
        margin-left: 67px !important;
    }

    footer{
        height: 200vh !important;
    }
    footer .col-md-3 {
        width: 100% !important;
    }

    .comunication{
        display: inline !important;
    }
    .comunication .space{
        opacity: 0;
        line-height: 0px !important;
    }

    footer .location{
        width: 100% !important;
    }
    footer .footer-details4{
        width: 100% !important;
    }

    .end-footer{
        display: inline !important;
    }
    .end-footer .par{
        width: 80%  !important;
        margin-left: 35px;
    }

    .end-footer a{
        margin-left: 115px;
    }
    .end-footer img{
        margin-left: 85px;
    }


    /*contact page*/

    .iconANDdet .det h3{
        font-size: 14px;
    }

    .iconANDdet .det h4 {
        font-size: 10px !important;
    }

    .iconANDdet .det a {
        font-size: 11px;
    }

    .det{
        padding-left: 1.5rem !important;
    }

    .info{
        display: inline !important;
    }
    .info .form-control{
        margin-bottom: 1.5rem;

    }

    .iconANDdet i{
        font-size: 10px;
        padding:10px !important;
    }

    .iconANDdet .det h3 {
        padding-bottom: 0px !important;
    }

    .contactUs iframe{
        padding-bottom: 20px;
    }

    .contact{
        background-size: contain !important;
        height: 21vh !important;
        background-position-y:88% ;
    }
    .contactForm button {
        width: 310px !important;
    }

    .contactForm input {
        margin-left: 0px !important;
    }

}


